<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kimsyversen.ruter</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0AA0E7B6-63A7-427F-B602-A3D022550309</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83FF2181-1C20-46FC-852E-02737623A5B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12D9E66A-5BEC-445F-9A2F-55606D123674</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CABF171-AEF5-4BA4-B612-C7424AA84354</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1AD134EA-AAB2-411A-83A5-906895BFDDFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9544DAE-01BB-45B7-B81D-80CD3106A92C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F668EA3-BF88-408B-B28F-4688ADC0B848</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F6F4068-623C-48E0-84FC-3BD0BF763AEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BA86A6D-FC51-44A0-96C3-8FF850780A58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65875085-87DF-4637-B2D8-A71E2AD1DD82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32A59766-7512-4819-8D2D-4FFC9D94F990</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8669486F-FA0A-4C4C-9125-F8146B4828AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CABF171-AEF5-4BA4-B612-C7424AA84354</key>
		<array/>
		<key>65875085-87DF-4637-B2D8-A71E2AD1DD82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DEA520CD-6B9B-4617-8DF4-11196C98F76A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B57CA92-B9E4-4B73-AD17-A9A1EE758465</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4770729-786D-43F7-9CB3-9987A7D11B7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F6F4068-623C-48E0-84FC-3BD0BF763AEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AD134EA-AAB2-411A-83A5-906895BFDDFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E48AE20-E09A-4484-BAC0-BADE3D2FC0D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D5F1AEF-C62F-4BDC-ACE0-D82FA92D02B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83FF2181-1C20-46FC-852E-02737623A5B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D8A661D-7DA2-4803-9FF4-948F6A0CE77F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8669486F-FA0A-4C4C-9125-F8146B4828AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8431E63-2EAD-4E6B-9563-497ED3824B92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A83BA82-0C8F-4A7A-BB9A-256E59BBA0CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32A59766-7512-4819-8D2D-4FFC9D94F990</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD98504D-F023-4CFB-8E06-E86812719924</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBE52FDB-C160-49B0-8AFF-AC822792D8B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CFB8C4FB-4FD4-4474-9411-09730712A3E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6B57CA92-B9E4-4B73-AD17-A9A1EE758465</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1F668EA3-BF88-408B-B28F-4688ADC0B848</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBE52FDB-C160-49B0-8AFF-AC822792D8B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BA86A6D-FC51-44A0-96C3-8FF850780A58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CFB8C4FB-4FD4-4474-9411-09730712A3E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BA86A6D-FC51-44A0-96C3-8FF850780A58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DEA520CD-6B9B-4617-8DF4-11196C98F76A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDF46A45-8038-487D-A55A-2E8B03A84E97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB50D037-D817-4E57-82B9-699E1431E1A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E48AE20-E09A-4484-BAC0-BADE3D2FC0D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4770729-786D-43F7-9CB3-9987A7D11B7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A83BA82-0C8F-4A7A-BB9A-256E59BBA0CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8431E63-2EAD-4E6B-9563-497ED3824B92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB50D037-D817-4E57-82B9-699E1431E1A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9544DAE-01BB-45B7-B81D-80CD3106A92C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0AA0E7B6-63A7-427F-B602-A3D022550309</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kim Syversen</string>
	<key>description</key>
	<string>Save and show Ruter trips</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ruter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>show</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>CBE52FDB-C160-49B0-8AFF-AC822792D8B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BDF46A45-8038-487D-A55A-2E8B03A84E97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python show_routes.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>65875085-87DF-4637-B2D8-A71E2AD1DD82</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python get_routes.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DEA520CD-6B9B-4617-8DF4-11196C98F76A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>2BA86A6D-FC51-44A0-96C3-8FF850780A58</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>CFB8C4FB-4FD4-4474-9411-09730712A3E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Show routes","arg":"show","subtitle":"Show your routes"},{"title":"Delete a route","arg":"delete","subtitle":"Your routes are shown after you press enter"},{"title":"Create a new route","arg":"create","subtitle":"Search for a trip on www.ruter.no first, then copy the link"}]</string>
				<key>keyword</key>
				<string>ruter</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Create, show or delete routes</string>
				<key>title</key>
				<string>Get ruterinfo directly in Alfred!</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>BD98504D-F023-4CFB-8E06-E86812719924</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>subtext</key>
				<string>Let the route name be one word, e.g. "work"</string>
				<key>text</key>
				<string>Enter route name</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9A83BA82-0C8F-4A7A-BB9A-256E59BBA0CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Search for the route at www.ruter.no, then paste the URL here</string>
				<key>text</key>
				<string>Paste URL</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F8431E63-2EAD-4E6B-9563-497ED3824B92</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python create_route.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7E48AE20-E09A-4484-BAC0-BADE3D2FC0D0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>A route with the name {var:env_route_name} was craeted</string>
				<key>title</key>
				<string>Route created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3D5F1AEF-C62F-4BDC-ACE0-D82FA92D02B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>[\s\S]</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>F4770729-786D-43F7-9CB3-9987A7D11B7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>env_route_name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>32A59766-7512-4819-8D2D-4FFC9D94F990</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>[\s\S]</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>8669486F-FA0A-4C4C-9125-F8146B4828AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>env_url</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EB50D037-D817-4E57-82B9-699E1431E1A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>create</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6B57CA92-B9E4-4B73-AD17-A9A1EE758465</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Route {var:env_route_name} was deleted!</string>
				<key>title</key>
				<string>Route deleted</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7D8A661D-7DA2-4803-9FF4-948F6A0CE77F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python delete_route.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>83FF2181-1C20-46FC-852E-02737623A5B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python show_routes.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1AD134EA-AAB2-411A-83A5-906895BFDDFF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>env_route_name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F9544DAE-01BB-45B7-B81D-80CD3106A92C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>delete</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>1F668EA3-BF88-408B-B28F-4688ADC0B848</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>[\s\S]</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>6F6F4068-623C-48E0-84FC-3BD0BF763AEB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>[\s\S]</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>0AA0E7B6-63A7-427F-B602-A3D022550309</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Show routes","arg":"show","subtitle":"Show your routes"},{"title":"Delete a route","arg":"delete","subtitle":"Your routes are shown after you press enter"},{"title":"Create a new route","arg":"create","subtitle":"Search for a trip on www.ruter.no first, then copy the link"}]</string>
				<key>keyword</key>
				<string>r2</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Create, show or delete routes</string>
				<key>title</key>
				<string>Get ruterinfo directly in Alfred!</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>12D9E66A-5BEC-445F-9A2F-55606D123674</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
from workflow import Workflow

UPDATE_SETTINGS = {'github_slug': 'kimsyversen/Ruter-workflow-for-Alfred'}

wf = Workflow(update_settings=UPDATE_SETTINGS)

if wf.update_available:
	wf.add_item('New version available',
                'Action this item to install the update',
                autocomplete='workflow:help',
                icon=ICON_INFO)
    #wf.start_update()

query = "{query}"

sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4CABF171-AEF5-4BA4-B612-C7424AA84354</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0AA0E7B6-63A7-427F-B602-A3D022550309</key>
		<dict>
			<key>note</key>
			<string>Clear input</string>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>12D9E66A-5BEC-445F-9A2F-55606D123674</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>1AD134EA-AAB2-411A-83A5-906895BFDDFF</key>
		<dict>
			<key>note</key>
			<string>Show saved routes</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>1F668EA3-BF88-408B-B28F-4688ADC0B848</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>If user select delete</string>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>2BA86A6D-FC51-44A0-96C3-8FF850780A58</key>
		<dict>
			<key>note</key>
			<string>Show</string>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>32A59766-7512-4819-8D2D-4FFC9D94F990</key>
		<dict>
			<key>note</key>
			<string>Save {var:env_route_name}</string>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>3D5F1AEF-C62F-4BDC-ACE0-D82FA92D02B0</key>
		<dict>
			<key>xpos</key>
			<integer>1550</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>4CABF171-AEF5-4BA4-B612-C7424AA84354</key>
		<dict>
			<key>note</key>
			<string>Update feature: In progress</string>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>65875085-87DF-4637-B2D8-A71E2AD1DD82</key>
		<dict>
			<key>note</key>
			<string>Show saved routes</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>6B57CA92-B9E4-4B73-AD17-A9A1EE758465</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>If user select create</string>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>6F6F4068-623C-48E0-84FC-3BD0BF763AEB</key>
		<dict>
			<key>note</key>
			<string>Clear input</string>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>7D8A661D-7DA2-4803-9FF4-948F6A0CE77F</key>
		<dict>
			<key>xpos</key>
			<integer>1290</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>7E48AE20-E09A-4484-BAC0-BADE3D2FC0D0</key>
		<dict>
			<key>note</key>
			<string>Create the route</string>
			<key>xpos</key>
			<integer>1380</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>83FF2181-1C20-46FC-852E-02737623A5B4</key>
		<dict>
			<key>xpos</key>
			<integer>1110</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>8669486F-FA0A-4C4C-9125-F8146B4828AA</key>
		<dict>
			<key>note</key>
			<string>Clear input</string>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>9A83BA82-0C8F-4A7A-BB9A-256E59BBA0CA</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>BD98504D-F023-4CFB-8E06-E86812719924</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>BDF46A45-8038-487D-A55A-2E8B03A84E97</key>
		<dict>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>CBE52FDB-C160-49B0-8AFF-AC822792D8B4</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>If user select show</string>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>CFB8C4FB-4FD4-4474-9411-09730712A3E6</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>If blank</string>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>DEA520CD-6B9B-4617-8DF4-11196C98F76A</key>
		<dict>
			<key>note</key>
			<string>Get routes</string>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>EB50D037-D817-4E57-82B9-699E1431E1A1</key>
		<dict>
			<key>note</key>
			<string>Save {var:start_id}</string>
			<key>xpos</key>
			<integer>1280</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>F4770729-786D-43F7-9CB3-9987A7D11B7A</key>
		<dict>
			<key>note</key>
			<string>Clear input</string>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>F8431E63-2EAD-4E6B-9563-497ED3824B92</key>
		<dict>
			<key>xpos</key>
			<integer>1110</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>F9544DAE-01BB-45B7-B81D-80CD3106A92C</key>
		<dict>
			<key>note</key>
			<string>save {var:env_route_name}</string>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
